{% extends 'magasin/base.html' %}
{% block title %} Catalogue de produits {% endblock %}
{% block content %}
<!-- body -->
<div>
    <h1 style="margin-left: 400px;">Catalogue des fournisseurs</h1>
    <table class="table table-striped">
        <tr class="table-info">
            <td class="table-info">Nom</td>
            <td class="table-info">Adresse</td>
            <td class="table-info">E-mail</td>
            <td class="table-info">Téléphone</td>
        </tr>
        {% for frs in fournisseurs %}
        <tr class="table-primary">
            <td class="table-primary">{{frs.nom}}</td>
            <td class="table-primary">{{frs.adresse}}</td>
            <td class="table-primary">{{frs.email}}</td>
            <td class="table-primary">{{frs.telephone}}</td>
        </tr>
        {% endfor %}

    </table>
    
</div>
{% endblock %}
